aws_region         = "us-east-1"
project_name       = "distributed-job-processing-system"
environment        = "eks"
cluster_name       = "dist-jobs"
kubernetes_version = "1.36"

vpc_cidr = "10.0.0.0/16"

availability_zones = [
  "us-east-1a",
  "us-east-1b",
]

public_subnet_cidrs = [
  "10.0.0.0/24",
  "10.0.1.0/24",
]

private_subnet_cidrs = [
  "10.0.10.0/24",
  "10.0.11.0/24",
]

node_instance_types = ["t3.medium"]
node_desired_size   = 2
node_min_size       = 2
node_max_size       = 3

ecr_repository_names = {
  api           = "distributed-job-processing-system-api"
  celery_worker = "distributed-job-processing-system-celery-worker"
  frontend      = "distributed-job-processing-system-frontend"
}

tags = {
  Owner = "replace-me"
}
